ruleset(name="remote"){
  action(type="omfwd" Target="localhost" Port="1514" Protocol="tcp" Template="RSYSLOG_SyslogProtocol23Format" TCP_Framing="octet-counted")
}

module(load="imudp")
input(type="imudp" port="514" address="*" ruleset="remote")

module(load="imtcp")
input(type="imtcp" port="514" address="*" ruleset="remote")
